*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.input-container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-bottom: 200px;
  border-radius: 8px;
  background-color: antiquewhite;

}

.input {
  padding: 15px 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: antiquewhite;
}


