*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.input-container {
  /* border: 1px solid green; */

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  flex-wrap: wrap;
  /* margin-bottom: 200px; */
  border-radius: 8px;
  background-color: antiquewhite;
}

.input {
  /* border: 1px solid red; */
  display: flex;
  min-width: 50px;
  flex: 1 1 50px;
  padding: 15px 10px;
  border-radius: 8px;
  border: none;
  background-color: antiquewhite;
}

input:focus {
  outline: none;
}

.render-options {
  position: relative;
  width: 300px;
}

.options-container {
  /* border: 1px solid red; */
  position: absolute;
  top: calc(100% + 0.25em);
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  border-radius: 8px;
  background: antiquewhite;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}

.options {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 13px;
  padding: 10px;

  cursor: pointer;
  background-color: antiquewhite;
  border: none;
}

.options > img {
  width: 30px;
}

.options:hover {
  background-color: rgb(246, 212, 158);
}

/* Chip Styles */

.chip-container {
  display: flex;
  background-color: rgb(246, 212, 158);
  padding-right: 10px;
  margin-left: 5px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}
.chip-container > img {
  width: 30px;
}

.chip-container > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 11px;
}
