* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chessboard-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.chessboard{
  width: 600px;
}
